@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "My Account";
    int counter = 1;
}

@section scripts {
    <script src="~/Content/js/MusicPlayer.js"></script>
    <script src="~/Content/js/FavoriteTrack.js"></script>
}

@section head {
    <link rel="stylesheet" href="~/Content/css/profile.css" />
}

<div class="container">
    <h2>My Favorites <i style="color:pink;" class="fa fa-heart" aria-hidden="true"></i></h2>
    <div class="row">
        <div class="col-md-5">
            <table id="topTracks" class="table" style="border:none;margin-bottom:150px;">
                <tbody>
                    @foreach (var track in Model) {
                        <tr>
                            <td><span class="trackNo">@(counter++)</span></td>
                            <td id="trackName"><a href="@track.preview_url">@track.name</a></td>
                            <td><a id="youtube" target="_blank" style="color:#dc2020!important;" name='{"trackName":"@track.name", "artistName":"@ViewBag.ArtistName"}' href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></td>
                            <td><i class="fa fa-list" title="Lyrics for @track.name" aria-hidden="true"></i></td>
                            <td name='{"trackId":"@track.id", "artistName":"@ViewBag.ArtistName"}'>
                                <span class="change-icon" style="color:pink;">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    <i id="favoriteMe" class="fa fa-heart" aria-hidden="true"></i>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





