@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Search";
}

@section head {
    <link rel="stylesheet" href="~/Content/css/return-to-top.css" /> 
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
}

@section scripts {
    <script src="~/Content/js/Return-to-top.js"></script>
}

<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>   

<div class="container">
    @if (Model.Count == 0) {
        <div class="result-heading">
            No results found for <span style="color:#c45500!important;">'@ViewBag.Term'</span>
        </div>
    }
    else {
        <div class="result-heading">
            <!-- 1-20 of 30 results for "pnl" -->
            @ViewBag.FirstOfPage - @ViewBag.PageCount of @ViewBag.Total results for <span style="color:#c45500!important;">'@ViewBag.Term'</span>
        </div>
        foreach (var artist in Model) {
            <div class="result row">
                <div class="col-md-2">
                    @if (artist.images.Count > 0) {
                        <img class="img-circle" height="120" width="120" src="@artist.images[0].url" />
                    }
                    else {
                        <img class="img-circle" height="120" width="120" src="http://www.nugget.ca/assets/img/default/contributor.jpg" />
                    }
                </div>
                <div class="result-info col-md-3" style="margin-top:1%;">
                    <h4><a href="@Url.Action("/", "profile", new { id = artist.id })">@artist.name</a></h4>
                    @for (int i = 0; i < artist.genres.Count; i++) {
                        if (i == 10) { break; }
                        <span class="badge">@artist.genres[i]</span>
                    }
                    <p></p>
                </div>
            </div>
        }
        <div class="btn-controls text-right">      
            @if (ViewBag.Previous != null) {
                <button type="button" id="previous" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Search", new { offset = ViewBag.Offset -= 20 })'">Previous</button>
            }     
            @if (ViewBag.Next != null) {
                <button type="button" id="next" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Search", new { offset = ViewBag.Offset += 20 })'">Next</button>
            }
        </div>
    }
</div>


