<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title - MusicPen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/search.css" />
    <link rel="stylesheet" href="~/Content/css/popupLogin.css" />
    <script src="~/Scripts/gridmvc.js"></script>
    <script src="~/Scripts/gridmvc.lang.ru.js"></script>
    <script src="~/Scripts/gridmvc.min.js"></script>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet' href='https://firebasestorage.googleapis.com/v0/b/personal-1c08e.appspot.com/o/ic_menu.css?alt=media&token=d3e0e883-baca-49e2-8e0d-4c43d1ca59c2'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'> 
    @RenderSection("head", false)
</head>
<body>
    <div class="container-fluid">
        <navbar>
            <div class="navbar nav navbar-fixed-top navbar-inverse">             
                <div class="v-flex">
                    <div class="navbar-body" style="height: 60px;">
                        <div class="navbar-start">
                            <a href="@Url.Action("", "")">
                                <img class="logo" src="~/Content/logo.PNG" style="width:100px;">
                            </a>
                        </div>
                        <div class="search">
                            <input type="text" id="searchArtist" class="search-textbox" placeholder="Search for artists" />
                            <a class="ico-btn search-btn"><i class="material-icons ic_search">&#xE8B6;</i></a>
                            <a class="ico-btn clear-btn"><i class="material-icons ic_clear">&#xE14C;</i></a>
                        </div>
                        <div class="navbar-end">
                            @*@Html.ActionLink("Connection", "Login", "Account", new { style = "text-transform: uppercase" })*@
                            @if (Session["username"] == null)
                            {
                            <a href="@Url.Action("Login", "Account")" @*data-toggle="modal" data-target=".bs-modal-sm"*@ style="text-transform: uppercase">Connection</a>
                            }
                            else
                            {
                                @Html.ActionLink("FAVORITES", "index", "userAccount");
                                @Html.ActionLink("LOGOUT","Logout","Account");
                                
                            }
                        </div>
                    </div>
                </div> 
            </div>
        </navbar>
        
        <div>
            @RenderBody()
        </div>

    </div> <!--/.container-fluid -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Content/js/Search.js"></script>
    <script src="~/Content/js/Navigation-bar.js"></script>
    <script src="~/Content/js/popupLogin.js"></script>
    <script src="https://use.fontawesome.com/d521dd6d04.js"></script>
    @RenderSection("scripts", false)

@*Le div flottant pour le login ou regester*@
    <div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 500px; height: 640px;">
                <br>
                <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                        <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
                        <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
                    </ul>
                </div>
                <div class="modal-body" style="padding: 30px; ">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in" id="why">
                            <p>We need this information so that you can receive access to the favorites. Rest assured your information will not be sold, traded, or given to anyone.</p>
                            <p></p><br> Please contact <a mailto:href="pushmusicweb@gmail.com"></a>pushmusicweb@gmail.com</a> for any other inquiries.</p>
                        </div>
                        <div class="tab-pane fade active in" id="signin">
                            <form class="form-horizontal">
                                <fieldset>
                                    <!-- Sign In Form -->
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="userid">Alias:</label>
                                        <div class="controls">
                                            <input required="" id="userid" name="userid" type="text" class="form-control" placeholder="JoeSixpack" class="input-medium" required="">
                                        </div>
                                    </div>

                                    <!-- Password input-->
                                    <div class="control-group">
                                        <label class="control-label" for="passwordinput">Password:</label>
                                        <div class="controls">
                                            <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
                                        </div>
                                    </div>

                                    <!-- Multiple Checkboxes (inline) -->
                                    <div class="control-group">
                                        <label class="control-label" for="rememberme"></label>
                                        <div class="controls">
                                            <label class="checkbox inline" for="rememberme-0">
                                                <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                                                Remember me
                                            </label>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="signin"></label>
                                        <div class="controls">
                                            <button id="signin" name="signin" class="btn btn-success">Sign In</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="signup">
                            <form class="form-horizontal">
                                <fieldset>
                                    <!-- Sign Up Form -->
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="Email">Email:</label>
                                        <div class="controls">
                                            <input id="Email" name="Email" class="form-control" type="text" placeholder="JoeSixpack@sixpacksrus.com" class="input-large" required="">
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="userid">Alias:</label>
                                        <div class="controls">
                                            <input id="userid" name="userid" class="form-control" type="text" placeholder="JoeSixpack" class="input-large" required="">
                                        </div>
                                    </div>

                                    <!-- Password input-->
                                    <div class="control-group">
                                        <label class="control-label" for="password">Password:</label>
                                        <div class="controls">
                                            <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                                            <em>1-8 Characters</em>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
                                        <div class="controls">
                                            <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
                                        </div>
                                    </div>

                                    <!-- Multiple Radios (inline) -->
                                    <br>
                                    <div class="control-group">
                                        <label class="control-label" for="humancheck">Humanity Check:</label>
                                        <div class="controls">
                                            <label class="radio inline" for="humancheck-0">
                                                <input type="radio" name="humancheck" id="humancheck-0" value="robot" checked="checked">I'm a Robot
                                            </label>
                                            <label class="radio inline" for="humancheck-1">
                                                <input type="radio" name="humancheck" id="humancheck-1" value="human">I'm Human
                                            </label>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="confirmsignup"></label>
                                        <div class="controls">
                                            <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <!-- For search -->
    <div id="searchOverlay" class="hidden" style="position:fixed;padding:0;margin:0;top:0;left:0;width:100%;height:100%;background:rgba(77, 77, 77, 0.5)"></div>

</body>
</html>
