@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Home";
    int counter = 0;
}

@section head {
    <link rel="stylesheet" href="~/Content/css/home.css" />
}


<div class="jumbotron">
    <div class="container" style="width:100%;">
        <div class="row">
            <!--
            @if (@ViewBag.JumboTextId == 0) {
                <div id="containerIntro" class="col-md-12">
                    <h1>Search & Play & <span style="color:pink;">Favorite</span></h1>
                    <p style="margin-left:0.5%;">MusicPen<i style="margin-left:0.5%;" class="fa fa-headphones" aria-hidden="true"></i></p>
                </div>
            } else {
                <div id="containerIntro" class="col-md-4">
                    <h1 style="color:white;"><i class="fa fa-search" aria-hidden="true"></i> & <i class="fa fa-play" aria-hidden="true"></i> & <i style="color:pink;" class="fa fa-heart" aria-hidden="true"></i></h1>
                    <p>MusicPen<i style="margin-left:1%;" class="fa fa-headphones" aria-hidden="true"></i></p>
                </div>
            }
             -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <button style="color:white;background:#d14d42;" class="btn">JOIN US!</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4"> 
        <div class="featured panel">
            <div class="panel-heading">Featured Artist</div>
            <div class="panel-body">
                <div id="featuredArtist" class="row">
                    <div class="clearfix" style="width:80%;">
                        <img class="img-circle img-responsive pull-right" src="https://i.scdn.co/image/dd331c087a68fdb3218539fdd04da7f3ea8dca3b" width="200" height="200">
                        <div class="content pull-left">
                            <h3><a style="color:white;" href="">PNL</a></h3>
                            <p><span class="badge">francoton</span></p>
                            <p><span class="badge">trap francais</span></p>
                            <p><span class="badge">bledaro music</span></p>
                        </div>
                    </div> <!-- /.Clearfix -->
                </div> <!-- /#featuredArtist -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="featured panel">
            <div class="panel-heading">Related Artists (based on your last search)</div>
            <div class="panel-body">
                @if (ViewBag.RelatedArtists != null) {
                    foreach (var artist in ViewBag.RelatedArtists) {
                        { counter = 0; }
                        <div id="featuredArtist" class="row">
                            <div class="clearfix" style="width:80%;">
                                <img width="200" height="200" class="img-circle pull-right" src="@artist.images[0].url">
                                <div class="content pull-left">
                                    <h3><a style="color:white;" href="@Url.Action("/", "profile", new { id = artist.id })">@artist.name</a></h3>
                                    @foreach (var genre in artist.genres) {
                                        <p><span class="badge">@genre</span></p>
                                        if (counter == 3) { break; }
                                        {
                                            counter = counter + 1;
                                        }
                                    }
                                </div>
                            </div> <!-- / Clearfix -->
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="featured panel">
            <div class="panel-heading">Top Favorites</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>

<!--
    foreach (var item in Model)
    {
        <p>item.name</p>
    }    
-->